.sign-container{ 
    height: 50vh;
    background-color: azure;
    align-content: 'center'; 
    margin-left: 33%; 
    margin-right: 33%; 
    margin-top: 10%; 
    margin-bottom: 10%
}
.footer{
    display:flex; 
    justify-content:center; 
    width: 100%; 
    background:aqua;
    bottom: 0;
    position: fixed;
}
.nav{
    background-color: grey;
    color: white;
}